# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/test

# Swap files
*~
*.swp
*.swo

# Project files
bin

# Windows files
*.idb
*.pdb
.tmp

# MacOS files
*.DS_Store
*.dSYM
*.dmg

# Linux files
src/test_debug
src/test_release
*.deb
*.rpm
